<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalYearProject"
        tools:targetApi="31">

        <activity
            android:name=".SignUpActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SpeechActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".SurveyActivity"
            android:exported="true">
        </activity>


        <activity
            android:name=".ExercisesActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".ChooseReadingTopicActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".TextPassageActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".BreathingExerciseActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".ChooseTongueTwisterActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".SelectedTongueTwisterActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".SyllCountingExerciseActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".DAFInfo"
            android:exported="true">

        </activity>
        <activity
            android:name=".ReadingExerInfo"
            android:exported="true">

        </activity>
        <activity
            android:name=".ExerciseProgressGraphActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".ProgressActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".SyllCountInfo"
            android:exported="true">

        </activity>
        <activity
            android:name=".TonTwistInfoPage"
            android:exported="true">
        </activity>

        <activity
            android:name=".AudioPlayerActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".VoiceRecordListActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".CompareAudioWavesActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".WordListActivity"
            android:exported="true">
        </activity>

    </application>

</manifest>